html, body, #content{
	height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* Background Image */
.home-page{
  background: center no-repeat fixed url("images/gourmet.jpg");
  background-size: 100%;
}

.home-wrapper{
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
	height: 100vh;
}

/* Cover */

.cover-heading {
  margin-top: 0;
	font-size: 5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color:white;
}
.cover-info{
  text-align: center;
	padding-top: 30%;
}

/* Features */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.marketing .container-fluid{
  padding: 80px 0;
}

#home-section2, #home-section4 {
  background-color: white;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.container-fluid.marketing{
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
	.cover-heading {
		font-size: 10em;
	}
	.cover-info{
		padding-top: 30%;
	}
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
	.cover-info{
		padding-top: 15%;
	}
  .featurette-heading {
    margin-top: 120px;
  }
}


/*recipes page tiles*/
.tile{
  border: solid 1px #a5a29d;
  border-radius: 2px;
  padding-top: 2%;
}

.tile-image{
  max-height: 200px;
  width: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.tile-title{
  text-align: center;
}

a.tile:hover{
  text-decoration: none;
}


/*Recipe Cards*/

.card {
  position: relative;
  float: left;
 /*padding-bottom: 100%;*/
  width: 100%;
  height: 100%;
  /*text-align: center;*/
}

.front{
  text-align: center;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  border: red dashed;
  -webkit-box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.75);
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

/* New Recipe Form */
#newRecipe {
  margin: 100px; /*Add more responsive format later*/
}

#newRecipe section {
  margin: 3em 0;
}

#newRecipe label {
  float: left;
  margin: 0 1em 0 0;
  clear: both;
}

#newRecipe input[type=number] {
  width: 2em;
}

.userForm{
  margin: auto;
  height: 100%;
  padding-top: 100px;
  vertical-align: middle;
}

/*transition aniimations*/
.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* The starting CSS styles for the enter animation */
.view.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.view.ng-enter.ng-enter-active {
  opacity:1;
}
.view.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.view.ng-leave.ng-leave-active {
  opacity:0;
}