html, body, #content{
	height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* Background Image */
.home-page{
  background: center no-repeat fixed url("images/gourmet.jpg");
  background-size: cover;
}

.home-wrapper{
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
	height: 100vh;
}
.navbar{
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}
.big {
    height:100px;
    padding-top: 25px;
}

.small {
   height:40px;
}

/* Cover */
.cover-heading {
  margin-top: 0;
	font-size: 5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color:white;
}
.cover-info{
  text-align: center;
	padding-top: 30%;
}

/* Features */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.marketing .container-fluid{
  padding: 80px 0;
}

#home-section2, #home-section4 {
  background-color: white;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.container-fluid.marketing{
  padding-right: 0;
  padding-left: 0;
}

h1 img{
  padding-top: 100px;
  width: 60%;
}

@media (min-width: 768px) {
	.cover-heading {
		font-size: 10em;
	}
	.cover-info{
		padding-top: 30%;
	}
  .featurette-heading {
    font-size: 50px;
  }
  h1 img{
    width: 40%;
  }
}

@media (min-width: 992px) {
	.cover-info{
		padding-top: 15%;
	}
  .featurette-heading {
    margin-top: 120px;
  }
  h1 img{
    width: 40%;
    padding-top: 0;
  }
}

/* Login */
#login input {
  width: 100%;
}
#submit {
  margin-top: 3em;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.center img {
  width: 30%;
  margin-top: 3em;
}


/*recipes page tiles*/
#addRecipe {
  margin: 1em 0;
}
.tile{
  border: 1px solid #101010;
  min-height: 20em;
  min-width: 332px;
  border-radius: 3px;
  margin: 1em auto;
}

.tile-image{
  padding: 1em;
  border-radius: 100%;
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  display:block;
  margin: 0 auto;
}

.tile-title{
  text-align: center;
  color: black;
}

a.tile:hover{
  text-decoration: none;
}

/* Pagination */
.pagination>li>a {
  color: black;
}

.pagination>.active>a {
  background-color: black;
  border-color: black;
}
.pagination>.active>a:hover {
  background-color: black;
  border-color: black;
}


/*Recipe Cards*/
#recipe {
  margin: 1em 0;
}
#recipe h1 {
  text-align: center;
  margin: 1em 0;
}
#recipe img {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/*(.card {
  margin: 1em 0;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}

.front{
  text-align: center;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  border: red dashed;
  -webkit-box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.75);
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}*/

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

/* New Recipe Form */
#newRecipe {
  margin-top: 120px; /*Add more responsive format later*/
}

#newRecipe section {
  margin: 3em 0;
}

#newRecipe label {
  float: left;
  margin: 0 1em 0 0;
  clear: both;
}

.userForm{
  margin: auto;
  height: 100%;
  padding-top: 100px;
  vertical-align: middle;
}

input[type=text], input[type=number], input[type=password] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  width: 2em;
}

textarea {
  width: 100%;
  height: 20em;
}

/*transition aniimations*/
.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* The starting CSS styles for the enter animation */
.view.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.view.ng-enter.ng-enter-active {
  opacity:1;
}
.view.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.view.ng-leave.ng-leave-active {
  opacity:0;
}

#preview {
  float: right;
  width: 50%;
}