<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
	<h1>Login</h1>
</div>
<div class="modal-body">
   	<form>
		<input autofocus="autofocus" class="form-control top" placeholder="Username"name="username" type="text" ng-model="user.username">
		<input  class="form-control bottom" name="password" type="password" placeholder="Password" ng-model="user.password">
		<br>
		<input ng-click="submit(user)" class="btn btn-default" name="login" type="submit" value="Login">
        <input ng-click="cancel()" class="btn btn-default" name="cancel" type="submit" value="Cancel">
	</form>
</div>
<div class="modal-footer">

</div>