<section id="newRecipe" class="container" ng-app="recipal.newRecipeCtrl" ng-ctrl="newRecipeCtrl">
  <!--Live Preview
  <section id="preview">
    <div class="row">Live Preview</div>
    
    <!--Title
    <div class="row">
      <div class="col-md-8">
        <h1 width="50px" ng-bind="name"></h1>
      </div>
      <div class="col-md-4">
        <img width="100px"ng-src="{{image}}">
      </div>
    </div>
    
    <!--Details
    <hr>
    <div class="row">
      <div class="col-md-4">
        Cook Time: <span ng-bind="cHour"></span>:<span ng-bind="cMin"></span>
      </div>
      <div class="col-md-4">
        Prep Time: <span ng-bind="pHour"></span>:<span ng-bind="pMin"></span>
      </div>
      <div class="col-md-4">
         Difficulty: 
      </div>
    </div>
    <p ng-bind="description"></p>
  </section>-->
  
  <!--Recipe Form-->
  <form id="newRicepeForm">
    <fieldset>
      <legend>New Recipe</legend>
      
      <!--Title and Image-->
      <div class="row">
        <!--Name-->
        <section class="col-sm-6">
          <label for="name">Recipe Name:</label>
          <input type="text" ng-model="name" id="name">
        </section>

        <!--Image-->
        <section class="col-sm-6">
          <label for="image">Recipe Image URL:</label>
          <!--<input type="file" name="pic" accept="image/*">-->
          <input type="text" ng-model="image" id="image" placeholder="Enter valid URL">
        </section>
      </div>

      <!--Cook, Prep, Difficulty-->
      <div class="row">
        <!--Cook Time-->
        <section class="col-md-4 col-sm-6">
          <label for="cookTimeH">Cook Time:</label>
          <input type="number" ng-model="cHour" id="cookTimeH" value="0"> Hours
          <input type="number" ng-model="cMin" id="cookTimeM" value="0"> Mins
        </section>
        
        <!--Prep Time-->
        <section class="col-md-4 col-sm-6">
          <label for="prepTimeH">Prep Time:</label>
          <input type="number" ng-model="pHour" id="prepTimeH" value="0"> Hours
          <input type="number" ng-model="pMin" id="prepTimeM" value="0"> Mins
        </section>

        <!--Difficulty-->
        <section class="col-md-4 col-sm-1">
          <label for="difficulty">Difficulty:</label>
          <select name="difficulty" id="">
            <option value="0">Easy</option>
            <option value="1">Medium</option>
            <option value="2">Expert</option>
          </select>
        </section>
      </div>

      <!--Description-->
      <section class="row">
        <label for="description">Recipe Description:</label>
        <br>
        <textarea ng-model="description" placeholder="Describe the recipe here..."></textarea>
      </section>
      
      <!--Lists-->
      <div class="row">
        <!--Ingredients-->
        <section class="col-sm-6">
          <input class="btn" ng-click="addIngredient()" type="button" value="Add Ingredient">
          <ul>
            <li ng-repeat="n in ingredients track by $index">
              <input type="text" id="ingr{{n}}">
              <span ng-click="removeIngredient($index)" class="glyphicon glyphicon-remove"></span>
            </li>
          </ul>
        </section>

        <!--Instructions-->
        <section class="col-sm-6">
          <input class="btn" ng-click="addInstruction()" type="button" value="Add Instruction">
          <ol>
            <li ng-repeat="n in instructions track by $index">
              <input type="text" id="inst{{n}}">
              <span ng-click="removeInstruction($index)" class="glyphicon glyphicon-remove"></span>
            </li>
          </ol>
      </section>
      </div>

      <!--Restrictions-->
      <section class="row">
        <label for="restrictions">Allergens</label>
        <br>
        <div class="checkbox">
          <label><input type="checkbox" value="peanuts">Peanuts</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="gluten">Gluten</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="soy">Soy</label>
        </div>
         <div class="checkbox">
          <label><input type="checkbox" value="other">Other</label>
        </div>
      </section>

      <!--Options-->
      <section>
        <input class="btn" ng-click="submitRecipe()" type="submit" value="Save">
      </section>

    </fieldset>
  </form>
</section>