<div style="margin-top: 100px" class="container" ng-app="recipal.allRecipesCtrl" ng-ctrl="allRecipesCtrl">
	<div class="row">
		<a href="#/recipes/{{recipe.name}}" class="hvr-glow tile col col-md-4 col-sm-6" ng-repeat="recipe in recipes">
			<img class='tile-image' ng-src="{{recipe.image}}">
			<div class="tile-title">
				<h2>{{recipe.name}}</h2>
			</div>
		</a>
		<!--<div class="hvr-glow tile col col-md-4 col-sm-6">
			<a href="#/recipes/example">
				<img class='tile-image' src="client/images/sample1.jpg">
			</a>
			<div class="tile-title">
				<a><h2>Food name</h2></a>
			</div>-->
	</div>
	<div class="row text-center">
		<uib-pagination total-items="totalItems" items-per-page="itemsPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" rotate="false"></uib-pagination>
	</div>
</div>