<div style="margin-top: 100px" class="container" ng-app="recipal.recipeCtrl" ng-ctrl="recipeCtrl">
  <div id="recipe" class="container">
    <!-- Recipe Image-->
    <div class="row">
      <img ng-src="{{recipe.image}}">
    </div>
    <!--recipe name-->
    <div class="row">
      <h1>{{recipe.name}}</h1>
    </div>

    <!--recipe times and difficulty -->
    <div class="row">
      <div class="col-md-4 col-sm-6">Prep Time: {{recipe.prepTime.hours}} hours and {{recipe.prepTime.min}} mins</div>
      <div class="col-md-4 col-sm-6">Cook Time: {{recipe.cookTime.hours}} hours and {{recipe.cookTime.min}} mins</div>
      <div class="col-md-4 col-sm-6">Difficulty: </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Ingredients:</h4>
        <hr>
        <ul>
          <li ng-repeat="ingredient in recipe.recipeIngredients">{{ingredient}}</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>Directions:</h4>
        <hr>
        <ol>
          <li ng-repeat="direction in recipe.instructions">{{direction}}</li>
        </ol>
      </div>
    </div>
  </div>
</div>