<div class="container">
  <div class="userForm">
    <div class="row center">
      <img src="client/images/recipal-logo.png">
      <h1>Register</h2>
    </div>
    
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form id="register" class="form" ng-submit="register()">
      <div class="col-sm-12">
        <label>Username</label>
        <input type="text" name="username" ng-model="registerForm.username" required>
      </div>
      <div class="col-sm-6">
        <label>Password</label>
        <input type="password" name="password" ng-model="registerForm.password" required>
      </div>
      <div class="col-sm-6">
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" ng-model="registerForm.password2" required>
      </div>
      <div id="submit" class="row center">
        <button type="submit" class="btn" ng-disabled="disabled">Register</button>
      </div>
    </form>
    
  </div>
</div>